{% extends "base.html" %}

{% block title %}Guía Nutricional — NutriApp{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark bg-opacity-75">
    <div class="container">
        <a class="navbar-brand fw-semibold" href="#">
            🧮 Mis Calculadoras
        </a>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('inicio') }}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('imc') }}">Índice de Masa Corporal</a>
        </li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('tmb') }}">Tasa Metabólica Basal</a>
        </li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('gct') }}">Gasto Calórico Total</a>
        </li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('peso_ideal') }}">Peso Corporal
                Ideal</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('macronutrientes') }}">Macronutrientes</a>
        </li>

    </div>
</nav>
{% endblock %}