{% extends "base.html" %}

{% block title %}Inicio — NutriApp{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="fw-bold text-success">Bienvenido a NutriApp</h1>
    <p class="text-muted">Explora nuestras secciones y aprende a cuidarte 🍎</p>
</div>

<div class="row g-4 justify-content-center" style="background: url('https://imgs.search.brave.com/PtKypYHCzvsBMMgYrgTrN4-NmVH9TKXAo4DRjhyTgVo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNjQw/MjE0ODg4L2VzL2Zv/dG8vYWxpbWVudG9z/LXNhbHVkYWJsZXMt/by1jb21pZGEtY2hh/dGFycmEuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPU5QUFZv/UGY3Nl81WFF3dG9E/M3VrczBLNEhacmRO/V09td0RXZTczaVZL/RDQ9') center/cover no-repeat;
            min-height: 100vh; padding: 40px;">

    <!-- Tarjeta 1 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('imc') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#06d6a0; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Calculadora IMC</h4>
                    <p>Conoce tu índice de masa corporal</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('recetas') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#ef476f; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Recetas saludables</h4>
                    <p>Comidas fáciles y nutritivas</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#118ab2; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}