{% extends "base.html" %}

{% block title %}Inicio — NutriApp{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="fw-bold text-success">Bienvenido a NutriApp</h1>
    <p class="text-muted">Explora nuestras secciones y aprende a cuidarte 🍎</p>
</div>

<div class="row g-4 justify-content-center" style="background: url('../static/img/fondo.jpg') center/cover no-repeat;
            min-height: 100vh; padding: 40px;">

    <div class="col-12 col-sm-6 col-md-4">

        {% if session.get('usuario') %}

        <a href="{{ url_for('calculadora') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#62883A; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Calculadoras</h4>
                    <p>Encuentra los cálculos para el bien</p>
                </div>
            </div>
        </a>

        {% else %}

        <div class="card text-white text-center opacity-50" style="background-color:#62883A; border:none;">
            <div class="card-body py-5">
                <h4 class="fw-bold">Calculadoras</h4>
                <p>Inicia sesión para usar esta herramienta</p>

                <a href="{{ url_for('validalogin') }}" class="btn btn-light mt-3">
                    Iniciar sesión
                </a>
            </div>
        </div>
        {% endif %}

    </div>



    <!-- Tarjeta 3 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#118ab2; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>


    <!-- Tarjeta 4 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#6CA0DC; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#BE93D4; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#FE7f9C; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

</div>

{% endblock %}