{% extends "base.html" %}

{% block title %}Inicio — NutriApp{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h1 class="fw-bold text-success">Bienvenido a NutriApp</h1>
    <p class="text-muted">Explora nuestras secciones y aprende a cuidarte 🍎</p>
</div>

<div class="row g-4 justify-content-center" style="background: url('../static/img/fondo.jpg') center/cover no-repeat;
            min-height: 100vh; padding: 40px;">

    <!-- Tarjeta 1 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('imc') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#ABC658; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Calculadora IMC</h4>
                    <p>Conoce tu índice de masa corporal</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('recetas') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#3E3D53; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Recetas saludables</h4>
                    <p>Comidas fáciles y nutritivas</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#118ab2; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>


    <!-- Tarjeta 4 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#6CA0DC; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 5 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#BE93D4; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

    <!-- Tarjeta 6 -->
    <div class="col-12 col-sm-6 col-md-4">
        <a href="{{ url_for('consejos') }}" class="text-decoration-none">
            <div class="card text-white text-center" style="background-color:#FE7f9C; border:none;">
                <div class="card-body py-5">
                    <h4 class="fw-bold">Consejos de nutrición</h4>
                    <p>Mejora tus hábitos alimenticios</p>
                </div>
            </div>
        </a>
    </div>

</div>
{% endblock %}